.text-capital {
   text-transform: uppercase;
}
.button {
 border-radius: 30px;
 background-color: rgb(255, 3, 3);
 padding: 8px 8px;
 margin: 30px;display: inline-block;
}
a {
 text-decoration: none;
 color: antiquewhite;
}
input {
    margin-top: 10px;
}

.mybg {
    background-color: rgb(82, 0, 103);
}

footer {
    background-color: #9E246F;
    text-align: center;
    color: aliceblue;
    padding: 10px;
}