@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  /*background-color: rgb(255, 255, 255);*/
}

/*------------------------------Start header-------------------------- */

header {
    background-color: #9A1C00;
}

nav {
   color:#fff;
   display: flex;
   justify-content: space-between;
   align-items: center;

   width: 1100px;
   height: 40px;
   margin: auto;

   /*background-color: aqua;*/
}

.logo {
   text-transform: uppercase;
   font-size: 20px;
   font-weight: bold;
}

.menu {
   list-style: none;
   display: flex;
   text-transform: capitalize;
   

}

li {
   margin-right: 20px;
}

a {
   color: #fff;
   text-decoration: none;
}
/*----------------------------Start hero section------------------------------*/

.hero {
   display: flex;
   width: 1100px;
   margin: auto;
   justify-content: space-between;
   align-items: center;

   /*background-color: aqua;*/
}

.hero-text--box {
   color: #fff;
   /*background-color: blue;*/
   
   
}

.hero-button {
   /*background-color: black;*/
   display: flex;
   
}

.hero-bt--getstart {
   background-color: #EA0202;
   padding: 8px 20px;
   border-radius: 30px;
   margin-right: 20px;
}

.hero-bt--watch {
   /*background-color: rgb(138, 5, 255);*/
   display: flex;
   align-items: center;
}

.hero-image {

}

.Pricing {
   /* background-color: black; */
   
   color: #581A0C(0, 0, 0);
   margin: auto;
   margin-top: 40px;
   width: 1100px;


}
.Pricing1 {
   margin-left: 500px;
   /* background-color: aqua; */
   color: #581A0C;
   text-transform: uppercase;
}
.Pricing-box {
   display: flex;
   /* background-color: rgb(0, 255, 21); */
   justify-content: space-between;
   padding: 20px;
   margin: auto;
   
}

.Pricing-box1 {
   /* background-color: black; */
   justify-content: space-between;
   box-shadow: 0px 0px 8px 2px #bfe2ee;
   width: 300px;
   height: 450px;
   padding: 20px;
   border: 1px solid #695c5c(0, 0, 0);
   border-radius: 20px;
   list-style: none;
   font-size: small;
}
.Pricing-box2 {
   /* background-color: black; */
   justify-content: space-between;
   box-shadow: 0px 0px 8px 2px #bfe2ee;
   width: 300px;
   height: 450px;
   padding: 20px;
   border: 1px solid #695c5c(0, 0, 0);
   border-radius: 20px;
   list-style: none;
   font-size: small;
}
.Pricing-box3 {
   /* background-color: black; */
   justify-content: space-between;
   box-shadow: 0px 0px 8px 2px #bfe2ee;
   width: 300px;
   height: 450px;
   padding: 20px;
   border: 1px solid #695c5c(0, 0, 0);
   border-radius: 20px;
   list-style: none;
   font-size: small;
}


/*----------------------------Start Members section------------------------------*/

.Member {
   background-color: #EFCEA7;
   padding: 40px;

}
.text-h2 {
   color: #581A0C;
   text-align: center;
   margin-top: 40px;
   text-transform: uppercase;
}

.text-param {
   color: #000000;
   text-align: center;
   
}
.Member-box {
   width: 1100px;
   background-color: #fafafa;
   margin: auto;

   box-shadow: 0px 0px 5px 0.5px #bfe2ee;
   border-radius: 5px;
   padding: 1px 40px 40px;
}

table {
   width: 80%;
   border: 1px solid #EA0202;
   border-collapse: collapse;
   
   margin: auto;
}

th,td {
   border: 1px solid #715f5f;
}

th {
 
}

td {

}

/*---------------------------- start Contact Section ---------------------------------*/

.contact {
   /*background-color: #e9ddda;*/
   padding: 40px;
}

.contact-box {
   /*background-color: #bfe2ee;*/
}

.textCon {
   /*background-color: #EFCEA7;*/
   color: #581A0C;
   text-align: center;
   margin-top: 40px;
   text-transform: uppercase;
}

.boxcontact1 {
   /*background-color: #715f5f;*/
   display: flex;
   justify-content: space-evenly;
   margin-left: 1%;
   
}

.boxcontact2 {
   /*background-color: #715f5f;*/
   
}

.boxname {
   /*background-color: #695c5c;*/
   color: #581A0C;
   
}

.boxmail {
   color: #581A0C;
   /*background-color: #695c5c;*/
   
}

.boxsub1 {
   /*background-color: #695c5c;*/
   color: #581A0C;
   margin-left: 16.5%;
   
}

.boxsub {
   /*background-color: #695c5c;*/
   margin: 10px;
   
   
}

.boxMess1 {
   margin-left: 17%;
   
}

.boxMessage {
   /*background-color: #695c5c;*/
   margin-top: 10px;
   justify-content: center;
   color: #581A0C;
   width: 1040px;
}

.button {
   font-size: 20px;
   color: aliceblue;
   background-color: #EA0202;
   margin-left: 41%;
   width: 300px;
   margin-bottom: 20px;
   border-radius: 20px;
   padding: 10px;
   text-align: center;
   
   
}



/*----------------------footer-------------------------*/

footer {
   text-align: center;
   border-radius: 10px;
   font-size: 25px;
}
